@import 'variables';
%q-slider {
    background-color: $darker-bg-color;
    border-radius: 0.125rem;
    height: 0.25rem;

    &__progress {
        border-radius: 0.125rem;
        background-color: $green-color;
        height: 100%;
        width: 0;
    }
}
