%q-slider {
    background-color: #f9e5cd;
    border-radius: 0.125rem;
    height: 0.25rem;

    &__progress {
        border-radius: 0.125rem;
        background-color: #2f9a6e;
        height: 100%;
        width: 0;
    }
}
