// Body
$bg-color: #fcf5ed;
$darker-bg-color: #f9e5cd;
$text-color: #563118;
$green-color: #2f9a6e;
$orange-color: #ec8945;
$red-color: #da533f;

// Typography
$font-family-sans-serif: 'Nunito Sans', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
