
.q-scale {
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
    padding-bottom: 5rem;
    opacity: 0.5;
    border-bottom: 1px solid #dddfe2;
}

.q-scale.active {
    opacity: 1;
}

.q-scale .title {
    font-size: 1.3rem;
    margin: 0 0.75rem;
}

.q-scale .container {
    display: flex;
    justify-content: center;
}

.q-scale .container label {
    align-items: center;
    display: flex;
    align-self: center;
    flex-direction: column;
    margin-left: 1rem;
    margin-right: 1rem;
    cursor: pointer;
}

.q-scale .checkmark {
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    margin-bottom: 0.5rem;
    caret-color: transparent;
    border: 3px solid rgb(176, 198, 206);
}

.q-scale .container .checkmark-title {
    color: rgb(176, 198, 206);
}

.q-scale .container label:first-child input:checked ~ .checkmark {
    background-color: #329F5B;
}

.q-scale .container label:first-child .checkmark {
    border-color: #329F5B;
}

.q-scale .container label:first-child .checkmark-title {
    color: #329F5B;
}

.q-scale .container label:last-child input:checked ~ .checkmark {
    background-color: #C42021;
}

.q-scale .container label:last-child .checkmark {
    border-color: #C42021;
}

.q-scale .container label:last-child .checkmark-title {
    color: #C42021;
}

.q-scale .title {
    margin-bottom: 0.5rem;
}

.q-scale input[type='radio'] {
    visibility: hidden;
    position: absolute;
}

.q-scale input[type='radio']:checked ~ .checkmark {
    background-color: rgb(176, 198, 206);
}

.q-1of9 input[type='radio'] {
    position: absolute;
    /*visibility: hidden;*/
}

.card ul {
    margin-bottom: 0px;
}

.card-body.keywords {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-body:not(.keywords) {
    text-align: justify;
    text-justify: inter-word;
}

label.container {
    caret-color: transparent;
    cursor: pointer;
}

.container .card {
    transition: background-color 200ms ease, color 200ms ease;
}

.container input[type='radio']:checked ~ .card {
    background-color: #329F5B;
    color: white;
}

.summaries {
    font-size: 0.8rem;
}

.test-section {
    opacity: 0.5;
}

.test-section.active {
    opacity: 1;
}

.btn-send {
    background-color: #329F5B;
    font-size: 1.2rem;
    padding: 10px 20px;
    margin: 40px auto;
    display: block;
}

.questions-container {
    padding-bottom: 6rem;
}

.description {
    font-size: 1.2rem;
    margin-bottom: 1.2rem;
}

.test-header {
    background-color: #329F5B;
    color: white;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.test-header .container {
    max-width: 600px;
}

.test-header a {
    position: absolute;
    left: 20px;
    top: 20px;
    color: #1a6437;
    text-decoration: none;
}
